<h1 class="animatehome">Infinite Jest by David Foster Wallace</h1>
<p class="right">“The truth will set you free. But not until it is finished with you.” <br>
― David Foster Wallace, Infinite Jest</p>
<img src="http://images.nymag.com/arts/books/reviews/davidfosterwallace110411_560.jpg">

<!-- Search Form -->
<!-- <form class="form-inline centered">
	<div class="form-group">
		<label for="search">Search</label>
		<input type="text" ng-model="searchTerm" placeholder="Search" id="search" class="form-control">
	</div>
	<button type="submit" ng-click="search()" class="btn btn-info ">Search</button>
</form> -->


